{% set posix = 'm2-' if win else '' %}
{% set native = 'm2w64-' if win else '' %}

package:
  name: r-gpgr
  version: 0.1.5

source:
  git_url: https://github.com/umccr/gpgr
  git_tag: main

build:
  merge_build_host: True  # [win]
  # If this is a new build for the same version, increment the build number.
  number: 0

  # This is required to make R link correctly on Linux.
  rpaths:
    - lib/R/lib/
    - lib/

# Suggests: knitr, rmarkdown, testthat,
requirements:
  build:
    - {{posix}}filesystem        # [win]
    - {{posix}}git
    - {{posix}}zip               # [win]

  host:
    - r-base
    - r-assertthat
    - r-bedr
    - r-chord
    - r-cli
    - r-ggplot2
    - r-gt
    - r-gtools
    - r-jsonlite
    - bioconductor-mutationalpatterns
    - r-readr
    - r-signature.tools.lib
    - r-stringr
    - bioconductor-structuralvariantannotation
    - r-tidyr
    - bioconductor-variantannotation

  run:
    - r-base
    - r-assertthat
    - r-bedr
    - r-chord
    - r-cli
    - r-ggplot2
    - r-gt
    - r-gtools
    - r-jsonlite
    - bioconductor-mutationalpatterns
    - r-readr
    - r-signature.tools.lib
    - r-stringr
    - bioconductor-structuralvariantannotation
    - r-tidyr
    - bioconductor-variantannotation

test:
  commands:
    # You can put additional test commands to be run here.
    - $R -e "library('gpgr')"           # [not win]
    - "\"%R%\" -e \"library('gpgr')\""  # [win]

  # You can also put a file called run_test.py, run_test.sh, or run_test.bat
  # in the recipe that will be run at test time.

  # requires:
    # Put any additional test requirements here.

about:
  home: https://github.com/umccr/gpgr
  license: MIT + file LICENSE
  summary: Genomics Platform Group Reporting
  license_family: MIT
