package:
  name: r-gpgr
  version: 0.2.0

source:
  git_url: https://github.com/umccr/gpgr
  git_tag: main

build:
  number: 0
  noarch: generic
  rpaths:
    - lib/R/lib/
    - lib/

requirements:
  build:
    - git
  host:
    - r-base
    - r-assertthat
    - r-bedr
    - r-chord
    - r-cli
    - r-ggplot2
    - r-gt
    - r-gtools
    - r-jsonlite
    - bioconductor-mutationalpatterns
    - r-readr
    - r-signature.tools.lib
    - r-stringr
    - bioconductor-structuralvariantannotation
    - r-tidyr
    - bioconductor-variantannotation
  run:
    - r-base
    - r-assertthat
    - r-bedr
    - r-chord
    - r-cli
    - r-ggplot2
    - r-gt
    - r-gtools
    - r-jsonlite
    - bioconductor-mutationalpatterns
    - r-readr
    - r-signature.tools.lib
    - r-stringr
    - bioconductor-structuralvariantannotation
    - r-tidyr
    - bioconductor-variantannotation

test:
  commands:
    - $R -e "library('gpgr')"

about:
  home: https://github.com/umccr/gpgr
  license: MIT + file LICENSE
  summary: Genomics Platform Group Reporting
  license_family: MIT
