/linx.breakend.tsv.gz
/linx.clusters.tsv.gz
/linx.driver.catalog.tsv.gz
/linx.drivers.tsv.gz
/linx.fusion.tsv.gz
/linx.links.tsv.gz
/linx.svs.tsv.gz
/linx.version
/linx.viral_inserts.tsv.gz
/linx.vis_copy_number.tsv.gz
/linx.vis_fusion.tsv.gz
/linx.vis_gene_exon.tsv.gz
/linx.vis_protein_domain.tsv.gz
/linx.vis_segments.tsv.gz
/linx.vis_sv_data.tsv.gz
