name: conda-pkgdown

on: [push, pull_request]

jobs:
  build-conda-deploy-pkgdown:
    # For tag pushes, we want to assure only the tag event triggers CI,
    # not the accompanying commit:
    if: "! startsWith(github.event.head_commit.message, 'Bump ') || startsWith(github.ref, 'refs/tags/')"
    name: Build conda package & deploy pkgdown website
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up miniconda
        uses: conda-incubator/setup-miniconda@v1
        with:
          # Do everything inside the base env
          auto-update-conda: true
          auto-activate-base: true
          activate-environment: ""
          mamba-version: "*"
          channels: "pdiakumis,conda-forge,bioconda"

      - name: Conda package build and upload
        shell: bash -l {0}
        run: |
          mamba install conda-build conda-verify anaconda-client
          mamba build --R 4.0 deploy/conda-recipe/
          PKG_PATH="/usr/share/miniconda/conda-bld/linux-64/r-gpgr-*.tar.bz2"
          anaconda -t ${{ secrets.ANACONDA_UPLOAD_TOKEN }} upload --force $PKG_PATH

      - name: Install conda packages
        shell: bash -l {0}
        run: mamba create -n pkgdown_gpgr --use-local r-gpgr r-pkgdown r-devtools pandoc

      - name: Publish pkgdown website
        shell: bash -l {0}
        run: |
            git config --local user.email "actions@github.com"
            git config --local user.name "GitHub Actions"
            conda activate pkgdown_gpgr
            printf "gpgr version:\n"
            Rscript -e "packageVersion('gpgr')"
            Rscript -e "pkgdown::deploy_to_branch(pkg = '.', commit_message = paste(pkgdown:::construct_commit_message('.'), '- see https://umccr.github.io/gpgr/'), branch = 'gh-pages', new_process = FALSE)"

